// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas { 
  height: 100%; 
  }

#map-canvas img{
  max-width: inherit;
  }
